@page
@model HardwareStoreWeb.Pages.Supplies.CreateModel

@{
    ViewData["Title"] = "Добавить поставку";
}

<div class="row mb-3">
    <div class="col d-flex d-sm-flex d-md-flex align-items-center align-items-sm-center align-items-md-center justify-content-xl-start col-auto">
        <h3 class="text-dark mb-0">Комплектующие</h3>
    </div>
</div>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-dark m-0 fw-bold">Добавить комплектующее</p>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Supply.SupplyPrice" class="control-label"></label>
                <input asp-for="Supply.SupplyPrice" class="form-control" />
                <span asp-validation-for="Supply.SupplyPrice" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Supply.Amount" class="control-label"></label>
                <input asp-for="Supply.Amount" class="form-control" />
                <span asp-validation-for="Supply.Amount" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Supply.Date" class="control-label"></label>
                <input asp-for="Supply.Date" class="form-control" />
                <span asp-validation-for="Supply.Date" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Supply.SupplierId" class="control-label"></label>
                <input asp-for="Supply.SupplierId" class="form-control" />
                <span asp-validation-for="Supply.SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Supply.ComponentId" class="control-label"></label>
                <input asp-for="Supply.ComponentId" class="form-control" />
                <span asp-validation-for="Supply.ComponentId" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Supply.WarehouseId" class="control-label"></label>
                <input asp-for="Supply.WarehouseId" class="form-control" />
                <span asp-validation-for="Supply.WarehouseId" class="text-danger"></span>
            </div>
            <div class="col d-lg-flex d-xl-flex d-xxl-flex justify-content-lg-start justify-content-xl-start justify-content-xxl-start me-0 my-2">
                <div>
                    <button type="submit" class="btn btn-dark btn-sm me-2 my-1">
                        <i class="fas fa-plus fa-sm text-white-50"></i>&nbsp; Добавить
                    </button>
                    <a class="btn btn-dark btn-sm me-2 my-1" role="button" asp-page="./Index">
                        <i class="fas fa-arrow-left fa-sm text-white-50"></i>&nbsp; Вернуться
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@*<h1>Create</h1>

<h4>Supply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supply.SupplyPrice" class="control-label"></label>
                <input asp-for="Supply.SupplyPrice" class="form-control" />
                <span asp-validation-for="Supply.SupplyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supply.Amount" class="control-label"></label>
                <input asp-for="Supply.Amount" class="form-control" />
                <span asp-validation-for="Supply.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supply.Date" class="control-label"></label>
                <input asp-for="Supply.Date" class="form-control" />
                <span asp-validation-for="Supply.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supply.SupplierId" class="control-label"></label>
                <select asp-for="Supply.SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Supply.ComponentId" class="control-label"></label>
                <select asp-for="Supply.ComponentId" class ="form-control" asp-items="ViewBag.ComponentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Supply.WarehouseId" class="control-label"></label>
                <select asp-for="Supply.WarehouseId" class ="form-control" asp-items="ViewBag.WarehouseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
